/*CORPO DO SITE*/

body{
    background-color: lightgray;
    margin: 0px;
}

/*CABEÇALHO*/
header{
    background-color: darkgray;
    margin: 0px;
    padding: 20px 0px 20px 0px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
}

/*TÍTULO*/
header>h1{
    margin: 10px;
    text-align: center;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 5px #5f022f;
}

/*MENU*/
.menu{
    margin: 10px;
    text-align: center;
}

.menu a{
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.menu a:hover{
    color: white;
    background-color:#C17A9C;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
}

/*CONTEÚDO PRINCIPAL*/

div.main{
    display: flex;
    padding: 20px;
}

/*SERVIÇOS*/

div.servicos{
    width: 75%;
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 10px;
}

.servicos .sev1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.servicos .sev1 h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 3rem;
    padding-left: 10px 10px 0px 0px;
    margin-left: 30px;
    
}

div.servicos .img{
    width: 90%;
    height: 400px;
    object-fit: contain;
    padding-bottom: 5px;
}

.servicos .sev1 p{
    margin: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}


/*PERFIL*/
div.sidebar{
    width: 15%;
    background-color: #C17A9C;
    padding: 20px;
    margin: 0 20px;              /* Agrupando margin-left e margin-right */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;        /* align-items já centraliza horizontalmente */
    justify-content: center;    /* justify-content já centraliza verticalmente */
    box-sizing: border-box;
    height: 350px;
}

div.sidebar img{
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 230px;
    object-fit: contain;
    padding-bottom: 10px;
}

div.sidebar p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 5px 0px 5px;
    text-align: center;
}


/*RODAPÉ*/

footer {
    background-color: #C17A9C;
    color: white;
    text-align: center;      /* Centraliza o texto do rodapé */
    padding: 5px;
    width: 100%;
    position: relative;
    bottom: 0;
}